/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Mukta", sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
}

/* 
    GENERAL
*/

:root {
    --lower-height: 100px;
    --aside-width: 200px;
}

body {
    color: white;
}

.container {
    padding: 0 10px;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.col {
    width: calc((100% / 6) - 20px);
    margin: 10px;
    text-align: center;

}

/* MACRO */

#upper {
    height: calc(100vh - var(--lower-height));
    display: flex;
}

#upper>aside {
    width: var(--aside-width);
}

#upper>main {
    width: calc(100% - var(--aside-width));
    overflow-y: auto;
    background-color: #141922;
}

#upper>main>* {
    margin-bottom: 20px;
}

#lower {
    height: var(--lower-height);
    display: flex;
    justify-content: space-between;
}


/* MAIN */

#upper>main>header {
    text-align: right;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    padding: 20px 10px;
}

#upper>main nav>ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#upper>main nav>ul>li>a {
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px;

}



main .container h2 {
    margin-bottom: 5px;
    font-size: 2rem;
    line-height: 2.5rem;
}

main .container p {
    color: gray;
}

main>.container:last-of-type img {
    border-radius: 50%;
}

main header>a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 30px;
    color: white;
    border: 1px solid white;
    border-radius: 50px;

}

/* FOOTER */

#lower .footer-left>img {
    width: 50px;

}

#lower .footer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#lower .footer-left>* {
    margin-left: 10px;

}

#lower .footer-left>div>a {
    font-size: 0.5rem;
    color: gray;
    text-decoration: none;
    display: block;

}

#lower .footer-left .btn-box {
    display: flex;
    flex-wrap: wrap;

}

#lower .footer-left .btn-box>* {
    margin-left: 5px;

}

#lower .footer-middle>div {
    text-align: center;

}


#lower .footer-middle>div:first-of-type {
    height: 50%;


}

#middle-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;


}

#middle-top>* {

    margin: 0 10px;


}

#middle-bottom {

    display: flex;
    align-items: center;


}

#play-bar {
    display: flex;
    justify-content: flex-end;

    height: 3px;
    width: 200px;
    background-color: white;
    margin: 0 10px;



}

#play-bar-gray {

    height: 3px;
    width: 70%;
    background-color: gray;




}

/* RESPONSIVE */

@media screen and (max-width: 1100px) {

    .col {
        width: calc(25% - 20px);

    }
}

@media screen and (max-width: 700px) {
    .col {
        width: calc(50% - 20px);

    }
}

@media screen and (max-width: 600px) {

    :root {
        --aside-width: 50px;
    }

    /* #upper>aside {
        width: 50px;
    }

    #upper>main {
        width: calc(100% - 50px);
        overflow-y: auto;
    } */
}

/* effects */

#lower .footer-left>div>a:hover {
    color: white;
    text-decoration: underline;

}

/* DEBUG */

.debug #upper {
    background-color: lightcoral;
}

.debug #upper>aside {
    background-color: lightgreen;
}

/* .debug #upper>main {
    background-color: burlywood;
} */

/* .debug #upper>main>header {

    height: 100px;
} */

.debug #lower {
    background-color: aqua;
}

.debug #lower>* {
    background-color: orangered;
}

/* .debug .col {
    background-color: yellowgreen;
} */