/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Mukta", sans-serif;
    scroll-behavior: smooth;
}

/* 
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* DEBUG */
/* .debug {
    background-color: lightcoral;
    min-height: 200px;
} */